body {
  padding-top: 70px;
  padding-bottom: 30px;
  color: #002c50;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.footer {
  padding: 20px 0;
  color: #002c50;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

nav {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #002c50;
  font-weight: bold;
}

.navbar-form {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #002c50;
  font-weight: bold;
}
.navbar {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #002c50;
  font-weight: bold;
}
.navbar-default {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #002c50;
  font-weight: bold;
}
.navbar-fixed-top {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
